/delete-node/ &sram0;

/{
    chosen{
        zephyr,console = &lpuart1;
        zephyr,shell-uart = &lpuart1;
        zephyr,code-partition = &sram0;
        zephyr,sram = &sram1;
        zephyr,canbus = &flexcan2;
        zephyr,display = &lcdif;
    };

    cpus {
		cpu@0 {
			status = "okay";
		};
	};

    sram0: memory@80200000 {
        reg = <0x80200000 DT_SIZE_M(16)>;
    };

    sram1: memory@81200000 {
        reg = <0x81200000 DT_SIZE_M(1792)>;
    };

    zephyr,user {
        timing_gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
    };

};

&media_blk_ctrl{
	status = "okay";
};

&lcdif {
	pixel-format = "argb-8888";
	status = "okay";
};

&gpiohog_exp_sel {
    output-low;
};

&flexcan2_phy {
    status = "okay";
};

&flexcan2 {
	bus-speed = <1000000>;
    status = "okay";
};

&ldb {
    status = "okay";
};

&lvds_panel {
    status = "okay";
};
